[submodule "Theme - Flatland"]
	path = Theme - Flatland
	url = https://github.com/thinkpixellab/flatland.git
[submodule "RSpec"]
	path = RSpec
	url = https://github.com/SublimeText/RSpec.git
[submodule "Package Control"]
	path = Package Control
	url = https://github.com/wbond/sublime_package_control.git
