[submodule "Theme - Flatland"]
	path = Theme - Flatland
	url = https://github.com/thinkpixellab/flatland.git
[submodule "package_control"]
	path = package_control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "RSpec"]
	path = RSpec
	url = https://github.com/SublimeText/RSpec.git
